.header{
    width: clamp(400px, 40%, 650px);

    display: flex;
    flex-direction: column;

    background: 
        url(./img/halie-west-25xggax4bSA-unsplash.jpg)
        top right / cover
        var(--dark-green);
}